---
// library imports
//import { Image } from "@astrojs/image/components";

// component imports
import Link from './Link.astro';

// utils imports
import { slugify } from '../utils/slugify';
import { formatDate } from '../utils/formatDate';

const { data, url, tagType } = Astro.props;

const Tag = tagType;

const { title, date, description, tag } = data;
---

<div
  class="duration-500 border rounded-xl hover:bg-zinc-800/40 group md:gap-8 hover:border-zinc-400 border-zinc-600/50 select-none"
>
  <article class="w-full h-full p-4 md:p-8 space-y-4">
    <div class="flex justify-between text-zinc-300 text-xs">
      <Link
        href={`/tag/${slugify(tag)}/`}
        text={tag}
      />
      {formatDate(date)}
    </div>
    <div class="w-full h-px bg-zinc-600/50"></div>
    <div>
      <Tag>
        <Link
          href={`/projects/${url}`}
          text={title}
          classes="text-zinc-200 text-1xl lg:text-2xl font-bold"
        />
        <p class="text-zinc-400 text-xs my-2">{description}</p>
        <Link
          href={`/projects/${url}`}
          text="Veja o Projeto"
          classes="text-zinc-400 text-xs flex gap-1 items-center mt-5 hover:text-zinc-200 duration-300"
          icon={{ name: 'charm:arrow-right', side: 'right', width: '16' }}
        />
      </Tag>
    </div>                        
  </article>
</div>
