---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const blogEntries = await getCollection("posts");

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"posts">;
}

const { entry } = Astro.props;

const { title, description, date, image } = entry.data;
const { Content } = await entry.render();
---

<Layout title={title} description={description}>
  <div class="min-h-screen w-full bg-gradient-to-tl to-zinc-900 from-zinc-950">
    <NavBar />
    <div
      class="flex flex-col justify-center items-center px-6 pt-24 lg:px-8 md:space-y-16 md:pt-24 lg:pt-32"
    >
      <article
        class="prose prose-sm md:prose-lg prose-headings:underline prose-headings:text-zinc-300 prose-p:text-zinc-400 prose-p:leading-loose prose-p:text-justify"
      >
        <header class="flex flex-col text-center gap-3">
          <span
            class="underline decoration-zinc-500/60 hover:decoration-zinc-500 duration-200 font-semibold select-none text-zinc-300 text-sm"
            >{date}</span
          >
          <h1 class="decoration-violet-800">{title}</h1>
          <h2 class="decoration-violet-900">
            {description}
          </h2>
          <div
            class="relative contrast-250 brightness-90 pointer-events-none select-none"
          >
            <Image
              src={image}
              alt="Logo"
              width={730}
              height={540}
              quality={100}
            />
          </div>
        </header>
        <Content />
      </article>
    </div>
  </div>
</Layout>
